body {
  background: #2f2fa2;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  margin: 20px;
}

a {
  color: #f64c72;
}

a:hover {
  color: #c43c5b;
}

#projects {
  padding-top: 40px;
}
